<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/header.css">
        <link rel="stylesheet" href="/static/css/text.css">
        <title>Texts | Text</title>
    </head>
    <body>
        {% include "header.html" %}
        <main>
            <div id="text"></div>
        </main>
        <script src="/static/js/texts/text.js"></script>
    </body>
</html>